<h1>About Us</h1>

<h3>Advice First</h3>	
<p>We’re a new kind of travel company that provides on-demand, personal travel service through a smartphone app. 
<p>The Lola app instantly connects people to our team of travel consultants who find hotels, research vacation dreams, book flights and anything else our customers need. We also help while they’re on their trips. In short, we take care of our members’ every travel need. </p>

<p>The name Lola is shorthand for longitude and latitude, a system created to make seaborne navigation easier, and in that same spirit, we started Lola to give more people access to a premium level of travel care.</p>

<h3>Pricing</h3>
<p>Lola is an invite-only membership service while availability is limited. Lola is free to invited members, but we plan to introduce an annual membership fee sometime in the near future. Lola members enjoy unlimited, on-demand personal travel care. Our team will plan, book and manage all your travel. Download the app now to get on the waitlist.</p>

<h3>Premier Partnerships</h3>
<p>Lola is partnering with select companies, institutions and membership organizations to provide our travel services to their executives and members. Contact us to find out more. </p>



               