<body>
	<h1>About Us</h1>

    <hr class="Separator--short">

<h3><strong>Advice First</strong></h3>	
<p>We’re a new kind of insurance brokerage company that provides on-demand, personal service at the touch of your fingers. 
<p>Once you sign up you can instantly connect with an insurance broker who can provide you the best advice for your situation, the best cover at a fair price, answer any questions, and help out with anything else you may need regarding insurance. We will even help out when it comes to claim time. In short, we take care of our members’ every insurance need. </p>

<p>We care about getting the right advice to you as fast as possible, This isnt really about the insurance if we are being honest, its about giving more people access to a premium level of insurance care.</p>

<hr class="Separator--short">

<h3><strong>Pricing</strong></h3>
<p>We take a slightly different approach to pricing here at Advice First. <strong><u>We Take No Commissions.</u></strong> 
<p>By being an Advice First member, you purchase your insurance at the wholesale price from which ever insurer you choose, and your monthly premiums include a small service fee which means you can obtain the best Advice, the best covers, at the fairest price, as long as you are a member.</p>

<hr class="Separator--short">

<h3><strong>Insurance Partnerships</strong></h3>
<p>Because we cant do this alone we partner with some of the largest insurers in New Zealand, Australasia and the wider insurance market to ensure that along with our Advice we can provide the product to back it up </p>
<p>We work with the following insurers to make sure the products are up to date, top shelp and will support you as our valued member

    <div class="container">
            <div class="row">
        		<div class="col-md-4">
          	<ul>
          	   <li>NZI</li>
			         <li>Vero</li>
			         <li>Ando Insurance</li>
			         <li>QBE Insurance</li>
			         <li>Lumley General</li>
          	</ul>          	
            </div>
        <div class="col-md-4">
            <ul>
         	      <li>Various Underwriters at Lloyds of London</li>
			           <li>SPUA</li>
			           <li>Classic Cover Insurance</li>
			           <li>Swann Insurance</li>
			           <li>Steadfast New Zealand</li>
            </ul>
          </div>
        <div class="col-md-4">
          <ul>
          	<li>Club Marine Insurance</li>
			<li>Allianz Global Assistance</li>
			<li>NZI Marine</li>
			<li>Zurich Auto</li>
			<li>TLC Insurance</li>
          </ul>
        </div>
      </div>

      <hr>

   
    </div> 





               