
<div class="jumbotron text-center">
  <h1>Disclosure Statement</h1>
</div>

<div class="jumbotron text-left">
	<div class="container">
	    <li><strong>NAME OF FINANCIAL ADVISOR:</strong> Stuart Cooper</li>
		<li><strong>ROLE</strong> National Domestic Manager/ Domestic Broker</li>
		<li><strong>TRADING NAME:</strong> Rothbury Auckland</li>
		<li><strong>ADDRESS:</strong> Level 18, 1 Queen Street, Auckland 1010</li>
		<li><strong>TELEPHONE NUMBER:</strong> 09 526 8381</li>
		<li><strong>MOBILE NUMBER:</strong> 021 408 214</li>
		<li><strong>EMAIL ADDRESS:</strong> stuart.cooper@rothbury.co.nz</li>
		<li><strong>WEBSITE:</strong> www.rothbury.co.nz</li>
		<li><strong>REGISTRATION NUMBER:</strong> FSP261605</li>
	</div>
</div>

<div class="jumbotron text-left">
<p></p>
<p>This disclosure statement was prepared on 13th December 2012.
It is important that you read this document</p>

<p>This information will help you to choose a financial adviser that best suits your needs. It will also provide some useful information about the financial adviser that you choose.</p>

<p><strong>What sort of adviser am I?</strong></p>
<p>I am a registered, but not authorised, financial adviser. I can give you advice about a wide range of domestic insurance products, other than investment linked insurance contracts as defined in the Financial Advisers Act 2008.</p>

<p>If you require advice on other areas of insurance, such as commercial insurance or risk management, I can refer you to an adviser who specialises and has the required competence and skills in that area.</p>

<p><strong>What should you do if something goes wrong?</strong></p>
<p>If you have a problem, concern, or complaint about any part of my service, please tell me so that I can try to fix the problem. If we cannot agree on how to resolve the issue to your satisfaction, you may contact my employer Rothbury Group Ltd on (09)580 8455 and ask for the matter to be referred to the Complaints Officer. Your complaint will be acknowledged in writing and we will endeavour to resolve the issue within 20 working days. A copy of our complaint guide, “Understanding you better”, is available from our website. If we still cannot agree on how to fix the issue, or if you decide not to use the internal complaints service, you can contact Financial Services Complaints Ltd (FSCL). This service will cost you nothing, and will help us resolve any disagreements.</p>

<p>You can contact Financial Services Complaints Ltd (FSCL) at:
PO Box 5967
Wellington 6145
Telephone: 0800 347 257
Email Address: info@fscl.org.nz</p>

<p><strong>How am I regulated by the Government?</strong></p>
<p>You can check that I am a registered financial adviser at <%= link_to "http://www.fspr.govt.nz"%>.</p>
<p>The Financial Markets Authority regulates financial advisers. Contact the Financial Markets Authority for more information, including financial tips and warnings.</p>
<p>You can report information or complain about my conduct to the Financial Markets Authority, but in the event of a disagreement, you may choose to first use the dispute resolution procedures described above (under What should you do if something goes wrong?).</p>

<p><strong>Declaration</strong></p>	
<p>I, <strong>Stuart Colin Cooper,</strong> declare that, to the best of my knowledge and belief, the information contained in this disclosure statement is true and complete and complies with the disclosure requirements in the Financial Advisers Act 2008 and the Financial Advisers (Disclosure) Regulations 2010.</p>

<p>Yours sincerely</p>
<p>Stu Cooper</p>
<p><STRONG>Founder and Director</STRONG></p>
</div>














