<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	<h3> This is the beginning of something huge, a new way of thinking about all we do - Stay Tuned</h3>

	
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-success btn-lg" %>
</div>