<h2>Welcome back valued Advice First Member</h2>

<hr class="Separator--short">

<h4>The new way to connect, change, update and ensure all the things you need are protected the way you want</h4>

<hr class="Separator--short">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static.pexels.com/photos/106399/pexels-photo-106399-large.jpeg" alt="Home">
      <div class="caption">
        <h3>Home Insurance</h3>
        <p>Lets Chat About Home Insurance. Its likely the most Important Asset you have and as kiwis we love our homs. Protect it properly</p>
        <p><a href="#" class="btn btn-default" role="button">Start Discussion</a> 
   </div>
  </div>
 </div>


<div class="Container">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static.pexels.com/photos/128622/pexels-photo-128622-large.jpeg" alt="Contents">
      <div class="caption">
        <h3>Contents Insurance</h3>
        <p>Lets Chat About Contents Insurance. Losing your things will always be a hassle but we can limit the financial impact</p>
        <p><a href="#" class="btn btn-default" role="button">Start Discussion</a></p>
  </div>
</div>
  </div>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static.pexels.com/photos/2224/road-people-street-smartphone-large.jpg" alt="Vehicle">
      <div class="caption">
        <h3>Vehicle Insurance</h3>
        <p>Its probably the most likely scenario where you will have an accient. Why not get the most out of your claim</p>
        <p><a href="#" class="btn btn-default" role="button">Start Discussion</a></p>
  </div>
  </div>
 </div>
