<h1>Industry News</h1>
<p>Updates from Around the Insurance Globe</p>

<div class='Title-block'>
 <div class='Title-block__title'>
  NZ Adviser
   <span class='Title-block__light-text'>01.09.2016</span>
</div>

 <div class='Title-block__block'>
  <a class='link-hover-disclosure' style='font-style:italic;' target='_blank' <%= link_to "Banks won’t pass on cash rate cuts in full, predicts economist", "http://www.nzadviseronline.co.nz/news/banks-wont-pass-on-cash-rate-cuts-in-full-predicts-economist-221227.aspx" %>
    </a>
 </div>
</div>