<h1>Industry News</h1>
<p>Updates from Around the Insurance Globe</p>

<hr class="Separator--short">

<div class='Title-block'>
 <div class='Title-block__title'>
  NZ Adviser
   <span class='Title-block__light-text'>01.09.2016</span>
</div>

 <div class='Title-block__block'>
  <a class='link-hover-disclosure' style='font-style:italic;' target='_blank' <%= link_to "Banks won’t pass on cash rate cuts in full, predicts economist", "http://www.nzadviseronline.co.nz/news/banks-wont-pass-on-cash-rate-cuts-in-full-predicts-economist-221227.aspx" %>
    </a>
 </div>
</div>

<hr class="Separator--short">

<div class='Title-block'>
 <div class='Title-block__title'>
  NZ Adviser
   <span class='Title-block__light-text'>02.09.2016</span>
</div>

 <div class='Title-block__block'>
  <a class='link-hover-disclosure' style='font-style:italic;' target='_blank' <%= link_to "Commercial Motor Insurance that works hard for you", "https://www.vero.co.nz/commercial-motor-insurance?cmpid=VERNZ:GI:NPS1:NPS:DIS:20160511:2797" %>
    </a>
 </div>
</div>

<hr class="Separator--short">

<div class='Title-block'>
 <div class='Title-block__title'>
  NZ Adviser
   <span class='Title-block__light-text'>10.09.2016</span>
</div>

 <div class='Title-block__block'>
  <a class='link-hover-disclosure' style='font-style:italic;' target='_blank' <%= link_to "Even Insurance Brokers feel the impact of the tech revolution", "http://www.insurancebusinessonline.co.nz/nz/news/breaking-news/survey-reveals-biggest-tech-impacts-for-brokers-221036.aspx" %>
    </a>
 </div>
</div>

