<% if user_signed_in? %>
<h2>Welcome back valued Advice First Member</h2>

<hr class="Separator--short">

<h4>The new way to connect, change, update and ensure all the things you need are protected the way you want</h4>

<hr class="Separator--short">

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Home Insurance</h3>
        <p>Lets Chat About Home Insurance. Its likely the most Important Asset you have and as kiwis we love our homs. Protect it properly</p>
        <p><a href="#" class="btn btn-default" role="button">Start Discussion</a> 
   </div>
  </div>
 </div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Contents Insurance</h3>
        <p>Lets Chat About Contents Insurance. Losing your things will always be a hassle but we can limit the financial impact</p>
        <p><a href="#" class="btn btn-default" role="button">Start Discussion</a> </p>
  </div>

  </div>
 </div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Vehicle Insurance</h3>
        <p>Its probably the most likely scenario where you will have an accient. Why not get the most out of your claim</p>
        <p><a href="#" class="btn btn-default" role="button">Start Discussion</a> </p>
  </div>
  </div>
 </div>
<% else %>

<br>
<br>
<div class="jumbotron center">
  <h1>The Future of Insurance is Here!</h1>
  <h3>Chaning the Way you interact with your Broker and Insurer</h3>
  
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>